<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="https://eiro.co/wp-content/uploads/2021/03/User-management.png" alt="Laptop" width="473" height="316">

<div class="pt-3">
  <h4>NodeJs_ user_ management system.</h4>
  <h4>Satyabrat pradhan.</h4>
</div>
